
li
  h2 = mail_to "#{contact_request.email}?subject=Local 27 Retirees Contact Request", "#{contact_request.name} <#{contact_request.email}>"
  h4 #{contact_request.created_at} (#{time_ago_in_words contact_request.created_at} ago)
  = simple_format contact_request.body
