
@import "includes";


footer {
  margin-top:30px;
  clear:both;
}

.form-horizontal textarea {
  height:5em;
  width:95%;
}

.alert {
  cursor:pointer;
}

.navbar.navbar-fixed-top {
  .navbar-inner {
    background-color:$header-color;
  }
}


.navbar .nav li a {
	font-size:larger;
	color:#bbb;
}
