// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top:60px;
}

.pages-calendar {
  .span12.calendar {
    text-align:center;
    iframe {
      margin:0 auto;
    }
  }
}

ul.events {
  padding:0; margin:0;

  li {
    list-style-type:none;
    border-bottom:1px solid #ddd;
    padding: 10px 0;
  }
}

