// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top:60px;
}

.pages-calendar {
  .span12.calendar {
    text-align:center;
    iframe {
      margin:0 auto;
    }
  }
}
