
.login-form {
  h2 {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;

    &.or {
      padding-top:80px;
      font-size:400%;
    }
  }

  p.instructions { text-align:center; margin-bottom:20px; }

  a.forgot-password {
    margin-left:20px;
  }

}
