
.login-form {
  h2 {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;

    &.or {
      padding-top:80px;
      font-size:400%;
    }
  }

  p.instructions { text-align:center; margin-bottom:20px; }

  .form-horizontal {
    label.control-label { width:110px; }
    .controls { margin-left:130px; }
    input[type=text],input[type=password] { width:190px; }
  }
}
