
h2 = @photo_set.title

ul#photo-set.thumbnails
  = render @photo_set.photos

javascript:
  $(function () {
    $('ul#photo-set').sortable_gallery({
      url: '#{sort_admin_photo_set_photos_path(@photo_set).html_safe}'
    });
  });
